
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_article{
    margin-top: 50px;
    justify-content: center;
    flex-direction: row;
}

/* .content_article_principal{
    justify-content: center;
    flex-direction: row;
} */

.text_inicial1{
    justify-content: center;
    font-size: 15px;
    display: flex;
}

.text_inicial2{
    justify-content: center;
    font-size: 18px;
    display: flex;
}

.content_main{
    justify-content: center;
    /* background-color: aquamarine; */
}